/* Exercise 3-external-styles */
.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

/* Exercise 4-applying-styles */
.yellow-square {
    height: 100px;
    width: 100px;
    color: green;
    background-color: yellow;
    display: inline-block;
}

#person { 
    height: 100px;
    width: 100px;
    background-color: #F00;
    display: inline-block;
  }
a {
    color: #F00;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: green;
    display: inline-block;
    border-radius: 50%;
    line-height: 100px;
    vertical-align: center;
    text-align: center;
}

/* Exercise 5-inheritance */
.cascading-parent {
    font-weight: bold;
    color: #FFF;
}

.cascading-child {
    color: #FF0 !important;
    background-color: #000;
    width: 200px;
    height: 200px;
}

.circle-parent {
    font-size: medium;
    font-family: Helvetica;
    color: #FFF;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
}

.circle-child1 {
    width: 100px;
    height: 100px;
    background-color: #F00;
    border-radius: 50%;
    display: flex;              
    justify-content: center;    
    align-items: center;
    flex-direction: row;
}

.circle-child2 {
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;              
    justify-content: center;    
    align-items: center;
    flex-direction: row;
}

.circle-child3 {
    width: 200px;
    height: 200px;
    background-color: green;
    display: flex;              
    justify-content: center;    
    align-items: center;
    flex-direction: row;
    border-radius: 50%;
}

/* Exercise 06-cascading */
a {
    font-size: 22px;
    color: #F0F;
}

.cascading-parent1 h2 {
    color: #FD0;
}

.cascading-parent1 a {
    font-size: 32px;
    color: #CCC;
}

.cascading-parent2 p {
    width: 100px;
    height: 100px;
    background-color: brown;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue
}

.circle1 {
    border-radius: 50%;
}

/* exercise 7-mulitple classes */
.site-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.site-color {
    background-color: indigo;
    color: #FFF;
}

.site-square {
    width: 200px;
    height: 200px;
}

.div-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
}

.div-position {
    justify-content: center;    
    align-items: center;
    flex-direction: column;
}

.div-color {
    background-color: red;
    color: blue;
}

.div-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}