/* Exercise 3-external-styles */
.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

/* Exercise 4-applying-styles */
.yellow-square {
    height: 100px;
    width: 100px;
    color: green;
    background-color: yellow;
    display: inline-block;
}

#person { 
    height: 100px;
    width: 100px;
    background-color: #F00;
    display: inline-block;
  }
a {
    color: #F00;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: green;
    display: inline-block;
    border-radius: 50%;
    line-height: 100px;
    vertical-align: center;
    text-align: center;
}

