/* exercise 10-styling a button */
:root {
    --color: #FFF;
    --background1: rgb(2,0,36);
    --backgroundgradient1: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
    --background2: rgb(0, 36, 10);
    --backgroundgradient2: linear-gradient(90deg, rgb(7, 36, 0) 0%, rgb(9, 121, 16) 35%, rgb(162, 255, 0) 100%);
}
.button-container a {
    width: 200px;
    padding: 10px;
    color: #FFF;
    Background-color: #F00;
    Border-radius: 10px;

    -webkit-box-shadow: 7px 3px 11px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 11px 10px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 11px 10px rgba(0,0,0,0.75);

    text-decoration: none;

    transition: all 0.5s ease;
}

.button-container a:hover {
    background-color: #AF1F16;
    text-decoration: none;
}

.google-button a {
    width: 200px;
    padding: 10px;
    background: var(--background1);
    background: var(--backgroundgradient1); 
    color: var(--color);
    border-radius: 10px;
    text-decoration: none;
    -webkit-box-shadow: 7px 3px 11px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 11px 10px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 11px 10px rgba(0,0,0,0.75);
}

.google-button a:hover {
    background: var(--background2);
    background: var(--backgroundgradient2);
    text-decoration: none;
    
}